<div *ngIf="currentUnicorn !== undefined">
  <form>
    <div>
      <label for="name">Name: </label>
      <input
        name="name"
        id="name"
        [(ngModel)]="currentUnicorn.name"
        placeholder="name"
        (change)="checkForm()"
      />
    </div>
    <div>
      <label for="color">Color: </label>
      <input
        id="color"
        cpOutputFormat="hex"
        name="color"
        [(colorPicker)]="currentUnicorn.color"
        [style.background]="currentUnicorn.color"
      />{{ currentUnicorn.color }}
    </div>
    <div>
      <label for="gender">Gender: </label>
      <select
        (change)="onGenderChange($event)"
        [(ngModel)]="currentUnicorn.gender"
        name="gender"
      >
        <option *ngFor="let gender of availableGenders" [value]="gender">
          {{ gender }}
        </option>
      </select>
    </div>
    <div>
      <label for="age">Age: </label>
      <input
        name="age"
        type="number"
        id="age"
        [(ngModel)]="currentUnicorn.age"
        min="0"
      />
    </div>
  </form>

  <button [disabled]="!formIsValid" id="save" (click)="onSave()">Save my Unicorn</button>
</div>
