
<div *ngIf="unicorn" class="grid-item">
    <div>
        <a [routerLink]="['/edit',unicorn.id]"><h1>{{unicorn.name}}</h1></a>
        <p>Hello ! My name is {{ unicorn.name}} and i am {{ unicorn.age | sanitizeAgePipe}}. 
            <br>I am {{ unicorn?.gender?.toString() | genderify}} Unicorn.
            <br>My color is {{ unicorn.color}}: it means nothing to you human, so just check my picture.</p>
        <div class="skill-list">
            <div *ngFor="let skillName of skillsList" >
                <div>{{ skillName | capitalize }} : {{getSKillValue(skillName)}}</div>
                <div class="meter">
                    <span style="width: {{getSKillValue(skillName) * 10 }}%"></span>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h1><img src="https://place-hold.it/100x100/{{unicorn.color.substring(1)}}/000000&text={{unicorn.name}}&bold" /></h1>
    </div>
    
    
</div>
